body {
    background: royalblue;
    margin: auto;
  
    border: 3px solid chartreuse;

}

.section {
    background: rgb(179, 90, 90);
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 19px 28px;
  margin: 40px;
    border:2px solid gold;
    font-size: 22px;
    font-weight: bold;
}

.input-btn{
    font-size: 20px;
    border:2px solid red;
   
    background: green;
    padding: 2px 2px;
    margin:2px;
    text-align: center;

}
.input-btn button{
    background: royalblue;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
    text-transform: uppercase;
    cursor: pointer;
    color: aliceblue;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: 1px;
padding: 3px 10px;
  

}

/* w3school template string ``  */
.templateString{
    background: lightgrey;
    padding: 2px 2px;
    margin:2px;
    border: 2px solid forestgreen;
    border-radius: 5px;
}